@model GrupoClientes.ViewsModel.GrupoViewModel

<!--CABEÇALHO-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Editar</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Editar</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content" style="margin:16px;">
    <div class="card card-navy">
        <div class="card-header">
            <h3 class="card-title">Grupo</h3>
        </div>
        <div class="card-body p-0">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group" style="margin-top: 20px; margin-left: 10px; margin-right: 10px;">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div style="margin-top:36px; margin-left: 10px; margin-right: 10px;">
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-primary float-right">Voltar para a página anterior</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="content" style="margin:16px;">
    <div class="row">
        <div class="col-6">
            <div class="card card-navy" style="background: #F0FFFF">
                <div class="card-header">
                    <h3 class="card-title">Adicionar um Menu ao Grupo<b>"@Html.DisplayFor(model => model.Descricao)"</b></h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" id="tabela1" name="table_search" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Url</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MenusDisponiveis)
                            {
                                <form asp-action="AdicionarMenus">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <tr>
                                    <td class="table-filter1">@item.Descricao</td>
                                        <td>@item.Url</td>
                                        <td class="text-right py-0 align-middle">
                                            <input type="hidden" asp-for="IdMenu" value="@item.Id" />
                                            <button type="submit" class="btn btn-primary"><ion-icon name="add-circle-sharp"></ion-icon></button>
                                        </td>
                                    </tr>
                                </form>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card card-navy" style="background: #F0FFFF">
                <div class="card-header">
                    <h3 class="card-title">Adicionar um Usuario ao Grupo<b>"@Html.DisplayFor(model => model.Descricao)"</b></h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" id="tabela2" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UsuariosDisponiveis)
                            {
                                <form asp-action="AdicionarUsuarios">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <tr>
                                    <td class="table-filter2">@item.Nome</td>
                                        <td>@item.Email</td>
                                        <td class="text-right py-0 align-middle">
                                            <input type="hidden" asp-for="IdUsuario" value="@item.Id"/>
                                            <button type="submit" class="btn btn-primary"><ion-icon name="add-circle-sharp"></ion-icon></button>
                                        </td>
                                    </tr>
                                </form>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!--LISTAGEM DE MENUS E USUÁRIOS DO GRUPO-->
    <section class="content" style="margin:16px;">
        <div class="row">
        @if (Model.Menus.Count > 0)
        {
            <div class="col-6">
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Menus desse Grupo</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" id="tabela3" name="table_search" class="form-control float-right" placeholder="Procurar">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th>Url</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Menus)
                                {
                                    <tr>
                                        <td class="table-filter3">@item.Descricao</td>
                                        <td>@item.Url</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        @if (Model.Usuarios.Count > 0)
        {
            <div class="col-6">
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Usuários desse Grupo</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" id="tabela4" name="table_search" class="form-control float-right" placeholder="Procurar">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Usuarios)
                                {
                                    <tr>
                                        <td class="table-filter4">@item.Nome</td>
                                        <td>@item.Email</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        </div>
    </section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tableSearchInput = document.getElementById('tabela1');
        var tableFilterItems = document.getElementsByClassName('table-filter1');

        tableSearchInput.addEventListener('input', function () {
            var searchText = tableSearchInput.value.toLowerCase();

            Array.prototype.forEach.call(tableFilterItems, function (item) {
                var itemText = item.textContent.toLowerCase();
                var row = item.parentNode;
                row.style.display = itemText.includes(searchText) ? '' : 'none';
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tableSearchInput = document.getElementById('tabela2');
        var tableFilterItems = document.getElementsByClassName('table-filter2');

        tableSearchInput.addEventListener('input', function () {
            var searchText = tableSearchInput.value.toLowerCase();

            Array.prototype.forEach.call(tableFilterItems, function (item) {
                var itemText = item.textContent.toLowerCase();
                var row = item.parentNode;
                row.style.display = itemText.includes(searchText) ? '' : 'none';
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tableSearchInput = document.getElementById('tabela3');
        var tableFilterItems = document.getElementsByClassName('table-filter3');

        tableSearchInput.addEventListener('input', function () {
            var searchText = tableSearchInput.value.toLowerCase();

            Array.prototype.forEach.call(tableFilterItems, function (item) {
                var itemText = item.textContent.toLowerCase();
                var row = item.parentNode;
                row.style.display = itemText.includes(searchText) ? '' : 'none';
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tableSearchInput = document.getElementById('tabela4');
        var tableFilterItems = document.getElementsByClassName('table-filter4');

        tableSearchInput.addEventListener('input', function () {
            var searchText = tableSearchInput.value.toLowerCase();

            Array.prototype.forEach.call(tableFilterItems, function (item) {
                var itemText = item.textContent.toLowerCase();
                var row = item.parentNode;
                row.style.display = itemText.includes(searchText) ? '' : 'none';
            });
        });
    });
</script>



